In [8]:
import netCDF4 as nc
import pandas as pd
import os
import geopandas as gpd
import xarray as xr
import re
import datetime
import matplotlib.pyplot as plt

In [13]:

def read_data(path, filename, data, u_basin):
    try:
        if filename.endswith('nc'):
            df = xr.open_dataset(path + str(filename))
            date = pd.to_datetime(df['time'].values[0])
            lon = df['lon'].values[0]
            lat = df['lat'].values[0]
            if check(lon, lat, u_basin):
                lwe_thickness = df['lwe_thickness'].values
                if not np.isnan(lwe_thickness).all():
                    mean_lwe_thickness = np.mean(lwe_thickness)
                    data['date'].append(date)
                    data['lwe_thickness'].append(mean_lwe_thickness)
        else:
            pass
    except Exception as e:
        print(e)
        print(path)
        print(filename)

data = {'date': [], 'lwe_thickness': []}
u_basin = s['geometry'][7]  # Assuming 's' is the variable containing the geometry

for filename in os.listdir(grace_path):
    read_data(grace_path, filename, data, u_basin)

NameError: name 's' is not defined

In [10]:
df = pd.DataFrame(data)

In [12]:
df

                   date  lwe_thickness
0   2017-06-10 12:00:00       0.066782
1   2017-05-13 00:00:00       0.058987
2   2017-04-24 12:00:00       0.050132
3   2017-03-31 12:00:00       0.073723
4   2017-01-21 00:00:00       0.054049
..                  ...            ...
158 2002-10-16 12:00:00      -0.060526
159 2002-09-16 00:00:00      -0.120404
160 2002-08-16 12:00:00      -0.108040
161 2002-05-10 12:00:00       0.044236
162 2002-04-18 00:00:00       0.051939

[163 rows x 2 columns]