In [1]:
import netCDF4 as nc
import pandas as pd
import os
import numpy as np
import xarray as xr
from datetime import datetime
import statistics
import collections

In [2]:
gl_path = "/home/maiampow/remoteData/GLDAS/NOAH_monthly_L4/"

In [24]:
gl_df = pd.DataFrame()
itera = 0

#Iterating through files in path
for filename in os.listdir(gl_path):
    
    if filename.endswith(".nc4"):
        
        #Reading in data as xarray then converting to DataFrame
        xd = xr.open_dataset(gl_path+str(filename))
        xd_df = xd.to_dataframe()
        xd_df.reset_index(inplace=True)

        #Extracting only needed columns 
        df_slice = xd_df[["time", "lon", "lat", "SWE_inst", 'SoilMoi0_10cm_inst',
           'SoilMoi10_40cm_inst', 'SoilMoi40_100cm_inst', 'SoilMoi100_200cm_inst']]
        df_slice = df_slice.dropna()

        gl_df = pd.concat([gl_df, df_slice], axis=0)
        
        print(itera)
        itera+=1
    
    #except:
    #    pass

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278

In [28]:
gl_df = gl_df.drop_duplicates()

In [29]:
gl_df = gl_df.sort_values(by="time")

In [30]:
gl_df.reset_index(drop=True,inplace=True)

In [31]:
gl_df

,time,lon,lat,SWE_inst,SoilMoi0_10cm_inst,SoilMoi10_40cm_inst,SoilMoi40_100cm_inst,SoilMoi100_200cm_inst
0,2000-01-01,179.875,71.375,19.319878,17.674234,64.673058,189.778946,269.458679
1,2000-01-01,-29.875,80.125,2095.742188,100.000000,300.000092,600.000061,999.999695
2,2000-01-01,-29.875,79.875,614.354675,100.000000,300.000092,600.000061,999.999695
3,2000-01-01,-29.875,79.625,4746.617676,100.000000,300.000092,600.000061,999.999695
4,2000-01-01,-29.875,79.375,9396.750977,100.000000,300.000092,600.000061,999.999695
...,...,...,...,...,...,...,...,...
67728082,2023-03-01,102.625,22.375,0.000000,22.890791,71.686691,134.821655,220.416153
67728083,2023-03-01,102.875,22.375,0.000000,23.250177,74.005661,140.908020,231.228989
67728084,2023-03-01,103.125,22.375,0.000000,24.432701,78.320496,153.395370,254.393036
67728085,2023-03-01,100.125,22.375,0.000000,22.040609,69.517906,128.805283,219.989105
67728086,2023-03-01,96.625,39.625,0.005000,9.313375,53.291973,111.857391,193.578171