In [23]:
import netCDF4 as nc
import pandas as pd
import os
import numpy as np
import xarray as xr

In [13]:
gl_path = "/home/maiampow/remoteData/GLDAS/NOAH_monthly_L4/"

In [21]:
gl_df = pd.DataFrame()

#Iterating through files in path
for filename in os.listdir(gl_path):
    try:
        #Reading in data as xarray then converting to DataFrame
        xd = xr.open_dataset(gl_path+str(filename))
        xd_df = xd.to_dataframe()
        xd_df.reset_index(inplace=True)

        #Extracting only needed columns 
        df_slice = xd_df[["time", "lon", "lat", "SWE_inst", 'SoilMoi0_10cm_inst',
           'SoilMoi10_40cm_inst', 'SoilMoi40_100cm_inst', 'SoilMoi100_200cm_inst']]    

        gl_df = pd.concat([gl_df, df_slice], axis=0)
        
    except:
        pass

In [26]:
gl_df = gl_df.dropna()

In [29]:
gl_df = gl_df.sort_values(by="time")

In [30]:
gl_df.reset_index(drop=True,inplace=True)

In [31]:
gl_df

,time,lon,lat,SWE_inst,SoilMoi0_10cm_inst,SoilMoi10_40cm_inst,SoilMoi40_100cm_inst,SoilMoi100_200cm_inst
0,2000-01-01,179.875,71.375,19.319878,17.674234,64.673058,189.778946,269.458679
1,2000-01-01,67.625,63.625,95.680847,32.689339,78.279922,151.389984,263.723877
2,2000-01-01,67.625,63.875,97.662224,28.647392,79.523163,152.947098,266.679504
3,2000-01-01,67.625,64.125,94.021576,28.299118,80.391350,153.785675,269.712982
4,2000-01-01,67.625,64.375,90.488419,29.588161,81.076157,153.659134,270.887512
...,...,...,...,...,...,...,...,...
135456169,2023-03-01,101.125,22.375,0.000000,21.764040,67.071800,123.685738,202.976166
135456170,2023-03-01,100.875,22.375,0.000000,21.787464,67.036423,122.349442,201.429504
135456171,2023-03-01,100.875,22.375,0.000000,21.787464,67.036423,122.349442,201.429504
135456172,2023-03-01,102.375,22.375,0.000000,22.874943,71.277054,133.958725,219.244980
135456173,2023-03-01,96.625,39.625,0.005000,9.313375,53.291973,111.857391,193.578171

In [24]:
#Loading preprocessed GLDAS from CSV instead
gl_csv = pd.read_csv("/home/maiampow/remoteData/CSV/gldas_df.csv")

In [33]:
gl_csv

,level_0,index,time,lat,lon,SWE_inst,SoilMoi0_10cm_inst,point
0,135456173,1727925,2000-01-01,71.375,179.875,19.319878,17.674234,POINT (179.875 71.375)
1,135132495,594494,2000-01-01,63.625,67.625,95.680850,32.689340,POINT (67.625 63.625)
2,135132496,594495,2000-01-01,63.875,67.625,97.662224,28.647392,POINT (67.625 63.875)
3,135132497,594496,2000-01-01,64.125,67.625,94.021576,28.299118,POINT (67.625 64.125)
4,135132498,594497,2000-01-01,64.375,67.625,90.488420,29.588161,POINT (67.625 64.375)
...,...,...,...,...,...,...,...,...
135456169,647334,949768,2023-03-01,22.375,101.125,0.000000,21.764040,POINT (101.125 22.375)
135456170,647333,949767,2023-03-01,22.375,100.875,0.000000,21.787464,POINT (100.875 22.375)
135456171,647332,949766,2023-03-01,22.375,100.875,0.000000,21.787464,POINT (100.875 22.375)
135456172,647344,949778,2023-03-01,22.375,102.375,0.000000,22.874943,POINT (102.375 22.375)
135456173,728257,1148453,2023-03-01,39.625,96.625,0.005000,9.313375,POINT (96.625 39.625)